# Database
DATABASE_URL=postgresql://user:password@db:5432/dbname
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=dbname

# App
PORT=8000
SECRET_KEY=yoursecretkey
ADMIN_PASSWORD=youradminpassword
BASE_URL=https://your-website.com
TZ=America/Santiago

# Proxy
TRUSTED_PROXY_HOSTS=127.0.0.1,172.16.0.0/12

# Storage
MEDIA_ROOT=/path/to/media
BACKUP_DEST=/path/to/backups

# External Services
TELEGRAM_BOT_TOKEN=your_bot_token
TELEGRAM_CHAT_ID=your_chat_id
